{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Mix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--Html code-->
</head>
<body>
     <h1>{{question_easy.question}}</h1>
    <form method="POST" action="{% url 'submit_answer' %}">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{ question_easy.id }}">
        <input type="hidden" name="difficulty" value="{{ question_easy.diff_level }}">
        <input type="hidden" name="category" value="{{ question_easy.question_category }}">
        <ul>
            {% for opt in options %}
            <div>
                <li><input type="radio" name="selected_option" value="{{ opt.option_1 }}"> {{ opt.option_1 }}</li>
                <li><input type="radio" name="selected_option" value="{{ opt.option_2 }}"> {{ opt.option_2 }}</li>
                <li><input type="radio" name="selected_option" value="{{ opt.option_3 }}"> {{ opt.option_3 }}</li>
                <li><input type="radio" name="selected_option" value="{{ opt.option_4 }}"> {{ opt.option_4 }}</li>
            </div>
            <div>
                <button type="submit">Submit Answer</button>
                <a href="{% url 'easy_category' 1 %}">Next Question</a>        
            </div>
            {% endfor %}
        </ul>
    </form>
</body>
</html>
