{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Mix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    !-- Html code -- 
</head>
<body>
    <h1>{{q1.question}}</h1>
    <ul>
        {% for opt in options %}
        <div>
            <li>{{ opt.option_1 }}</li>
            <li>{{ opt.option_2 }}</li>
            <li>{{ opt.option_3 }}</li>
            <li>{{ opt.option_4 }}</li>
        </div>
    </ul>

        <a href="{% url 'question2' 1 %}">Next Question</a>
</body>
</html>
{{ optanswer }}
{% empty %}
    <li>No options available.</li>
{% endfor %}